@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --bg-primary: #050c17;
    --border-primary: #091e3c;
    --bg-content: #061325;
    --bg-inner-content: #0f1b33;
    --text-primary: #ffffff;
    --text-secondary: #828282;
    --text-tertiary: #53627a;
  }

  [data-theme="light"] {
    --bg-primary: #f6f7f9;
    --border-primary: #dbdbdb;
    --bg-content: #ffffff;
    --bg-inner-content: #f6f7f9;
    --text-primary: "#fff";
    --text-secondary: #828282;
    --text-tertiary: #53627a;
  }
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
